[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-rtd-theme = "*"
myst-parser = "*"
docutils = "==0.16"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
build = "cd docs && make html"
open = "cd docs && make open"

